[submodule "app_games/arknights-bubble-shooter"]
	path = app_games/arknights-bubble-shooter
	url = https://github.com/qxdqhr/profile-v1-game-arknights-bubble-shooter.git
[submodule "app_games/bubble-shooter"]
	path = app_games/bubble-shooter
	url = https://github.com/qxdqhr/profile-v1-game-bubble-shooter.git
[submodule "app_games/flappy-wish"]
	path = app_games/flappy-wish
	url = https://github.com/qxdqhr/profile-v1-game-flappy-wish.git
[submodule "app_games/gold-miner"]
	path = app_games/gold-miner
	url = https://github.com/qxdqhr/profile-v1-game-gold-miner.git
[submodule "app_games/huarongdao"]
	path = app_games/huarongdao
	url = https://github.com/qxdqhr/profile-v1-game-huarongdao.git
[submodule "app_games/kannot"]
	path = app_games/kannot
	url = https://github.com/qxdqhr/profile-v1-game-kannot.git
[submodule "app_games/link-game"]
	path = app_games/link-game
	url = https://github.com/qxdqhr/profile-v1-game-link-game.git
[submodule "app_games/miku-click"]
	path = app_games/miku-click
	url = https://github.com/qxdqhr/profile-v1-game-miku-click.git
[submodule "app_games/miku-flick"]
	path = app_games/miku-flick
	url = https://github.com/qxdqhr/profile-v1-game-miku-flick.git
[submodule "app_games/miku-fusion-game"]
	path = app_games/miku-fusion-game
	url = https://github.com/qxdqhr/profile-v1-game-miku-fusion-game.git
[submodule "app_games/miku-planting"]
	path = app_games/miku-planting
	url = https://github.com/qxdqhr/profile-v1-game-miku-planting.git
[submodule "app_games/mikutap-game"]
	path = app_games/mikutap-game
	url = https://github.com/qxdqhr/profile-v1-game-mikutap-game.git
[submodule "app_games/pulse-parade"]
	path = app_games/pulse-parade
	url = https://github.com/qxdqhr/profile-v1-game-pulse-parade.git
[submodule "app_games/purchase-game"]
	path = app_games/purchase-game
	url = https://github.com/qxdqhr/profile-v1-game-purchase-game.git
[submodule "app_games/push-box"]
	path = app_games/push-box
	url = https://github.com/qxdqhr/profile-v1-game-push-box.git
[submodule "app_games/race-game"]
	path = app_games/race-game
	url = https://github.com/qxdqhr/profile-v1-game-race-game.git
[submodule "app_games/suika-game"]
	path = app_games/suika-game
	url = https://github.com/qxdqhr/profile-v1-game-suika-game.git
[submodule "app_games/trible-game"]
	path = app_games/trible-game
	url = https://github.com/qxdqhr/profile-v1-game-trible-game.git
[submodule "app_games/vocaloid-to-go"]
	path = app_games/vocaloid-to-go
	url = https://github.com/qxdqhr/profile-v1-game-vocaloid-to-go.git
[submodule "app_games/diner-dash"]
	path = app_games/diner-dash
	url = https://github.com/qxdqhr/diner-dash-clone.git
[submodule "app_wordpress/holt"]
	path = app_wordpress/holt
	url = https://github.com/qxdqhr/profile-v1-wordpress-holt.git
[submodule "app_mobile/calendar-mobile"]
	path = app_mobile/calendar-mobile
	url = git@github.com:qxdqhr/profile-v1-calendar-mobile.git
[submodule "app_mobile/teach-hub-mobile"]
	path = app_mobile/teach-hub-mobile
	url = git@github.com:qxdqhr/profile-v1-teach-hub-mobile.git
[submodule "app_desktop/teach-hub-desktop"]
	path = app_desktop/teach-hub-desktop
	url = git@github.com:qxdqhr/profile-v1-teach-hub-desktop.git
